@import 'variables';
@import 'reset';

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: var(--secondary-color-95) !important;
    color: var(--font-color);
    padding: 0 var(--space-xl) calc(2 * var(--space-xl));
}

.customTemplate {
    p {
        word-wrap: break-word;
    }

    ul,
    ol {
        padding-left: var(--space-xl);
    }

    a {
        color: var(--primary-color);
        text-decoration: underline;
    }
}
