@import "reset";
@import "variables/global";
@import "fonts";

#root {
  background-color: var(--bg-color);
}

.page-wrapper {
  width: var(--page-width);
  min-height: 100vh;
  column-gap: var(--space-xl);
  padding: var(--space-m) 0;
  margin: 0 auto;
}