:root {
  --space-s: 8px;
  --space-m: calc(var(--space-s) * 2);
  --space-l: calc(var(--space-s) * 3);
  --space-xl: calc(var(--space-s) * 4);

  --page-width: 1440px;

  --bg-color: #F5F5F5;
  --primary-color: #1166EE;
}