.gallery {
  gap: var(--space-m)
}

.mainImage {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.thumbnails {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  gap: var(--space-m);
  width: var(--page-width);
}

.thumbnail {
  width: 20vw;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  cursor: pointer;
}


@media (min-width: 1024px) {
  .thumbnails {
    width: calc(var(--page-width) / 2);
  }

  .thumbnail {
    width: calc(100% / 4);
  }
}

