.container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--page-width);
}

.image {
    width: 100%;
    height: auto;
    max-height: 90vh;
    aspect-ratio: 16/9;

    cursor: zoom-out;
}
