.container {
    margin-bottom: 85vh;
}

.heroContainer {
    position: absolute;
    width: 100%;
    height: 85vh;
    left: 0;
    background-color: #062756;
    color: var(--inverted-font-color);
}

.hero {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero::before,
.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero::before {
    background-image: url('../../../shared/assets/hero-gradient.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero::after {
    background-image: url('../../../shared/assets/hero-vectors.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero > div {
    z-index: 1;
}

.heroFrontRound {
    position: absolute;
    width: 100%;
    height: 5vh;
    top: calc(80vh + 1px);
    left: 0;
    background-color: var(--secondary-color-95);
    border-top-left-radius: var(--space-xl);
    border-top-right-radius: var(--space-xl);
}

// details hero

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.detailsHero {
    position: relative;
    border-radius: var(--space-xl);

    color: var(--inverted-font-color);
    background-color: var(--primary-color);
    margin-top: calc(5 * var(--space-xl)) !important;

    min-height: 600px;
    overflow: hidden;
}

.detailsHeroContent {
    padding: var(--space-xl);
}

@media (min-width: 768px) {
    .detailsHeroContent {
        padding: calc(3 * var(--space-xl));
    }
}

@media (min-width: 1024px) {
    .detailsHeroContent {
        padding: calc(4 * var(--space-xl));
    }
}

@media (min-width: 1200px) {
    .detailsHeroContent {
        padding: calc(5 * var(--space-xl));
    }
}