.projectCard {
  height: 300px;
  background-color: var(--primary-color-light);
  outline: 1px solid var(--border-color);
}

.clippedText {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image {
  height: 100px !important;
  object-fit: cover;
}

.image, .projectCard {
    border-radius: var(--space-m);
}

.projectCard span {
    color: var(--primary-color);
    font-weight: 700;
}

@media (min-width: 768px) {
  .projectCard {
    height: var(--card-height);
  }

  .image {
    height: 50% !important;
  }
}
