.projectCard {
  height: 300px;
  border-radius: var(--space-m);
  background-color: var(--inverted-font-color);
  outline: 1px solid var(--border-color);
}

.clippedTitle,
.clippedText {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clippedText {
  -webkit-line-clamp: 2;
}

.image {
  height: 100px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .projectCard {
    height: var(--card-height);
  }

  .image {
    height: 50% !important;
  }
}
