.container {
  background-color: var(--footer-bg-color);
  color: var(--inverted-font-color);
  padding: calc(2 * var(--space-xl)) 0 calc(4 * var(--space-xl));
}

.contentWrapper {
  margin: 0 auto;
  width: var(--page-width);
}

.firstItem {
  max-width: var(--footer-urfu-name-width);
}

.link {
  display: inline-block;
  height: var(--footer-links-size);
  width: var(--footer-links-size);
}
