.container {
  background-color: var(--footer-bg-color);
  color: var(--inverted-font-color);
}

.contentWrapper {
  margin: 0 auto;
  max-width: calc(var(--page-width) + 2 * var(--space-m));
  padding: var(--space-xl) var(--space-m);
}

.firstItem {
  max-width: var(--footer-urfu-name-width);
}

.link {
  display: inline-block;
  height: var(--footer-links-size);
  width: var(--footer-links-size);
}
