.card {
    width: 100%;
    background-color: var(--bg-color);
}

.card,
.content {
    gap: var(--space-m);
}

.card,
.card img,
.image {
    border-radius: var(--space-m);
}

.image {
    width: 100%;
    aspect-ratio: 2/1;
}

.content {
    padding: var(--space-l);
}
