.details {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(5 * var(--space-m));
}

.col {
  gap: var(--space-l);
}

.mainBlock {
  gap: var(--space-l)
}

.block {
  gap: var(--space-m)
}


@media (min-width: 1024px) {
  .details {
    grid-template-columns: repeat(2, 1fr);
  }

  .col {
    gap: calc(var(--space-l) * 2);
  }
}
