.resizeBorder {
    position: absolute;
    background: transparent;
    z-index: 10;

    &left {
        left: -4px;
        top: 0;
        bottom: 0;
        width: 7px;
        cursor: ew-resize;
    }

    &right {
        right: -4px;
        top: 0;
        bottom: 0;
        width: 7px;
        cursor: ew-resize;
    }

    &bottom {
        left: 0;
        bottom: -4px;
        right: 0;
        height: 7px;
        cursor: ns-resize;
    }

    &top {
        left: 0;
        top: -4px;
        right: 0;
        height: 7px;
        cursor: ns-resize;
    }
}
