.wrapper {
    margin-right: 30px;
    justify-content: center;
    margin: auto 0;
    position: absolute;
    left: 0;
    top: 50%;
    bottom: 50%;
    background-color: transparent !important;
}
