.card {
    min-width:  250px;
    background-color: var(--bg-color);
}

.card, .content {
  gap: var(--space-m);
}

.card, .card img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--space-m);
}

.content {
    padding: var(--space-l);
}
