.container {
    width: 90%;
    height: 90%;
    position: relative;
    outline: 2px solid transparent;
    background-color: #f3f4f6;
    transition: outline 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &.focused {
        outline: 2px solid #3f72e0;
    }

    .uploadButton {
        background-color: #3b82f6;
        color: #fff;

        &:hover {
            background-color: #2563eb;
        }
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.hiddenInput {
    display: none;
}
