.container {
    padding-bottom: var(--space-l);
}

.item {
    display: flex;
    padding: 0 calc(var(--space-l) / 2);
}

// .item:first-child {
//     padding-left: 0;
// }

// .item:last-child {
//     padding-right: 0;
// }

.dots {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.dot {
    width: 40px;
    height: 6px;
    border-radius: 24px;
    background-color: var(--primary-color-95);
    border: 0;
    transition: width 0.3s ease;
}

.dot.active {
    width: 100px;
    background-color: var(--primary-color);
}
