.sortableBlock {
    position: relative;
    background: #fff;
    padding: 32px 64px;
    border-bottom: 5px dotted #e5e8ec;
}

.sortableBlock.dragging {
    opacity: 0.5;
}
.sortableBlock .content {
    padding: 20px 0;
    width: 100%;
}
