.container {
    width: 100dvw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-color);
    border-top-left-radius: var(--space-xl);
    border-top-right-radius: var(--space-xl);
}

.container span {
    color: var(--primary-color);
}
   
   