.hStack {
    flex-direction: row;
    align-items: center;
}

@media (max-width: 899px) {
    .hStack {
        flex-direction: column !important;
        align-items: start;
    }
}

// Showcase

.showcase span {
    color: var(--primary-color);
}

// Expert Card

.expertCard {
    height: 100% !important;
    padding: 16px;
    border: 1px solid var(--primary-color-95);
    border-radius: var(--border-radius-m);
}

.avatar {
    width: 100% !important;
    height: 100% !important;
    aspect-ratio: 1 !important;
}

.secondaryText {
    color: var(--tertiary-color-mono) !important;
}