.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;

    width: var(--page-width);

    background-color: var(--bg-color);

    padding: 12px 32px;

    z-index: 2;
}

.containerTransparent {
    background: none;
    color: #fff;
}

.containerTransparent .logo {
    filter: brightness(0) invert(1);
}

.burger {
    display: none !important;
}

.burger svg {
    color: var(--bg-color);
}

@media (max-width: 1024px) {
    .container {
        nav,
        .button {
            display: none;
        }
    }

    .burger {
        display: inherit !important;
    }
}

.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
