.container {
    position: absolute;
    top: var(--space-xl);
    left: 50%;
    transform: translateX(-50%);

    width: var(--page-width);

    background-color: var(--bg-color);
    border-radius: 1000px;
    padding: 12px;

    z-index: 2;
}

.burger {
    display: none !important;
}

.burger svg {
    color: var(--bg-color);
}

@media (max-width: 1024px) {
    .container {
        nav,
        .button {
            display: none;
        }
    }

    .burger {
        display: inherit !important;
    }
}
