.authorization {
    padding: calc(var(--space-s) * 8) !important;
    width: 50% !important;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 900px) {
    .authorization {
        position: absolute;
        width: 100% !important;
        height: 100% !important;
        top: 0;
        left: 0;
        padding: var(--space-s) !important;
    }
}
